.Slogan {
  &__imageWrapper {
    display: none;
    @media (max-width: 500px) {
      display: block;
    }
  }

  &__contentWrapper {
    padding: 130px 80px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 800px) {
      padding: 70px 40px;
    }
    @media (max-width: 500px) {
      background: none !important;
      padding: 0;
    }
  }
}
