.ButtonUi {
  a {
    display: block;
    padding: 16px 32px;
  }
  transition: background-color 0.3s ease;
  font-family: var(--font-satoshi), sans-serif;
  background: var(--color-text-white-two);
  &:hover {
    background: var(--color-text-grey);
    color: var(--color-text-white-two);
  }
  &:active {
    background: var(--color-text-black);
    color: var(--color-text-white);
  }
}

.Slogan {
  align-self: flex-start;
}
.Collection {
  display: block;
  min-width: 170px;
  margin: 0 auto;
}

.SloganTwo {
  align-self: flex-start;

  background: var(--color-background-blink);
  &:hover {
    color: var(--color-text-white);
  }
  &:active {
    background: var(--color-text-grey-two);
  }
}
.red {
  background: rgba(159, 0, 0, 0.422);
  &:hover {
    background: rgba(159, 0, 0, 0.633);
  }
  &:active {
    background: rgba(159, 0, 0, 0.797);
  }
}
.grey {
  background: var(--background-grey-two);
  // background: rgb(204, 204, 204);
}
