$widthMobileSort: 400px;
$widthMobileFilter: 950px;

@mixin list {
  position: absolute;
  top: 100%;

  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  min-width: 160px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@mixin svg {
  transform: rotate(180deg);
  transition: all 0.7s ease;
  cursor: pointer;
}

.CatalogOption {
  h3 {
    font-size: var(--fs-xl);
    text-align: center;
    padding-bottom: 24px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}

.Filters {
  @media (max-width: $widthMobileFilter) {
    position: relative;

    &:hover .Filters__wrapperItems {
      background: white;
      padding: 10px;
      border-radius: 12px;
      border: 1px solid var(--color-text-black);
      display: block;
      position: absolute;
      z-index: 5;
      top: 100%;
      left: -15px;
    }
  }

  &__triggerMobile {
    display: none;
    @media (max-width: $widthMobileFilter) {
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        @include svg;
      }
      &:hover svg {
        transform: rotate(0);
      }
    }
  }
  &__wrapperItems {
    display: flex;
    gap: 50px;
    @media (max-width: $widthMobileFilter) {
      display: none;
    }
  }
  &__item {
    position: relative;
    padding: 5px;
    font-family: var(--font-satoshi), sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      @include svg;
    }

    &:hover .Filters__optionsList {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &:hover svg {
      transform: rotate(0);
    }
  }

  &__triggerActive {
    color: #ff0000b8;
    span {
      padding-left: 5px;
    }
  }

  &__optionsList {
    @include list;

    left: 0;

    @media (max-width: $widthMobileFilter) {
      z-index: 10;
      left: 100%;
      top: 50%;
    }
  }

  &__option {
    display: flex;
    gap: 8px;

    input {
      accent-color: var(--color-text-grey-three);
    }
    input,
    label {
      cursor: pointer;

      white-space: nowrap;
    }
  }

  &__buttonReset {
    @media (max-width: $widthMobileFilter) {
      padding-left: 25px;
    }
  }
}
.Sort {
  display: flex;
  align-items: center;

  font-family: var(--font-satoshi), sans-serif;

  min-width: 237px;
  gap: 20px;
  @media (max-width: $widthMobileSort) {
    min-width: auto;
  }
  &__title {
    @media (max-width: $widthMobileSort) {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    position: relative;
    padding: 5px;

    gap: 10px;
    align-items: center;
    svg {
      @include svg;
    }

    &:hover .Sort__optionsList {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &:hover svg {
      transform: rotate(0);
    }
  }
  &__titleMobile {
    display: none;
    @media (max-width: $widthMobileSort) {
      display: block;
    }
  }
  &__trigger {
    @media (max-width: $widthMobileSort) {
      display: none;
    }
  }
  &__optionsList {
    @include list;

    right: 0;
  }
  &__options {
    display: flex;
    gap: 10px;
    align-items: center;
    input,
    label {
      cursor: pointer;
      white-space: nowrap;
    }
  }
}
