@mixin list {
  position: absolute;
  top: 100%;
  // left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  min-width: 160px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  //   transform: translateY(5px);
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CatalogOption {
  h3 {
    font-size: var(--fs-xl);
    text-align: center;
    padding-bottom: 24px;
  }
  .CatalogOption__content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .Filters {
      display: flex;

      gap: 50px;
      .Filters__item {
        position: relative;
        padding: 5px;
        font-family: var(--font-satoshi), sans-serif;
        //   cursor: pointer;

        .Filters__optionsList {
          @include list;

          left: 0;

          .Filters__option {
            display: flex;
            gap: 8px;
            // padding: 3px;
            // border-radius: 5px;
            input {
              accent-color: var(--color-text-grey-three);
            }
            input,
            label {
              cursor: pointer;
              //   color: red;
              //   padding: 5px;
              white-space: nowrap;
            }
            // &:hover {
            //   background: var(--color-text-grey);
            // }
          }
        }

        &:hover .Filters__optionsList {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          // transform: translateY(0);
        }
      }
    }
    .Sort {
      display: flex;
      position: relative;
      padding: 5px;
      font-family: var(--font-satoshi), sans-serif;

      .Sort__optionsList {
        @include list;
        // position: absolute;
        // top: 100%;
        right: 0;
      }

      &:hover .Sort__optionsList {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        // transform: translateY(0);
      }
    }
  }
}
