@mixin list {
  position: absolute;
  top: 100%;
  // left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  min-width: 160px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  //   transform: translateY(5px);
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@mixin svg {
  transform: rotate(180deg);
  transition: all 0.7s ease;
  cursor: pointer;
}

.CatalogOption {
  h3 {
    font-size: var(--fs-xl);
    text-align: center;
    padding-bottom: 24px;
  }
  .CatalogOption__content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .Filters {
      display: flex;

      gap: 50px;
      .Filters__item {
        position: relative;
        padding: 5px;
        font-family: var(--font-satoshi), sans-serif;
        display: flex;
        align-items: center;
        gap: 10px;
        .Filters__trigger {
          // gap: 10px;
          // display: flex;
          // align-items: center;
        }
        .Filters__triggerActive {
          color: #ff0000b8;
          span {
            padding-left: 5px;
          }
        }
        //   cursor: pointer;
        svg {
          @include svg;
        }

        .Filters__optionsList {
          @include list;

          left: 0;

          .Filters__option {
            display: flex;
            gap: 8px;
            // padding: 3px;
            // border-radius: 5px;
            input {
              accent-color: var(--color-text-grey-three);
            }
            input,
            label {
              cursor: pointer;
              //   color: red;
              //   padding: 5px;
              white-space: nowrap;
            }
            // &:hover {
            //   background: var(--color-text-grey);
            // }
          }
        }

        &:hover .Filters__optionsList {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          // transform: translateY(0);
        }
        &:hover svg {
          transform: rotate(0);
          // transform: translateY(0);
        }
      }
    }
    .Sort {
      display: flex;
      align-items: center;
      // position: relative;
      font-family: var(--font-satoshi), sans-serif;
      // padding: 5px;
      min-width: 237px;
      gap: 20px;
      .Sort__wrapper {
        display: flex;
        position: relative;
        padding: 5px;

        gap: 10px;
        align-items: center;
        svg {
          @include svg;
        }
        .Sort__optionsList {
          @include list;
          // position: absolute;
          // top: 100%;
          right: 0;
          .Sort__options {
            display: flex;
            gap: 10px;
            align-items: center;
            input,
            label {
              cursor: pointer;
              white-space: nowrap;
            }
          }
        }

        &:hover .Sort__optionsList {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          // transform: translateY(0);
        }
        &:hover svg {
          transform: rotate(0);
          // transform: translateY(0);
        }
      }
    }
  }
}
