.returns {
  background: linear-gradient(
    to bottom,
    var(--background-grey) 0%,
    var(--background-grey) 75%,
    #ececf3 100%
  );
  padding: clamp(20px, 4vw, 50px) 20px;

  &__container {
    max-width: 820px;
    margin: 0 auto;
  }

  &__title {
    // font-family: var(--font-clashDisplay);
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 1.25;
    color: var(--color-text-black);
    text-align: center;
  }

  &__intro {
    margin-top: 1.5rem;
    font-family: var(--font-satoshi);
    font-size: var(--fs-md);
    color: var(--color-text-grey);
    text-align: center;
  }

  &__content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }

  &__subtitle {
    // font-family: var(--font-clashDisplay);
    font-size: var(--fs-lg);
    font-weight: 400;
    color: var(--color-text-black-two);
  }

  &__text {
    font-family: var(--font-satoshi);
    font-size: var(--fs-md);
    color: var(--color-text-grey-two);
    line-height: 1.6;
  }
}
