.Slogan {
  // max-width: 100%;
  .Slogan__imageWrapper {
    display: none;
    @media (max-width: 500px) {
      display: block;

      // min-width: 100%;
    }
  }

  .Slogan__contentWrapper {
    padding: 130px 80px;
    background: url("/img/interior-1.jpg");
    background-size: cover;
    @media (max-width: 800px) {
      padding: 70px 40px;

      // padding: 0;
    }
    @media (max-width: 500px) {
      background: none;
      padding: 0;

      // min-width: 100%;
    }
    .Slogan__content {
      background: #ffffff;
      padding: 48px 61px 48px 56px;
      width: 630px;
      height: 440px;
      color: var(--color-text-grey-two);
      font-family: var(--font-satoshi), sans-serif;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-left: auto;

      @media (max-width: 800px) {
        padding: 24px 30px;

        width: 400px;
        height: 300px;
        // width: 100%;
        // margin-left: 0;
      }
      @media (max-width: 500px) {
        // background: none;
        // padding: 0;
        width: 100%;

        // min-width: 100%;
      }
      h2 {
        font-size: var(--fs-xl);
        color: var(--color-text-black-two);
        line-height: 140%;
      }
      div {
        font-size: var(--fs-md);
        flex: 1;
      }
      button {
        align-self: flex-start;
        padding: 16px 32px;
        background: var(--color-text-white-two);
        // background: rgba(249, 249, 249, 1);
      }
    }
  }
}
