.product {
  //   min-height: 100vh;
  background: var(--background-grey);

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    @media (min-width: 650px) {
      grid-template-columns: 1fr 1fr;
      gap: 64px;
    }
  }

  &__imageWrapper {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // &__image {

  // }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    // font-family: "Clash Display", sans-serif;
    font-size: var(--fs-xl);
    color: var(--background-purple);

    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }

  &__price {
    font-family: var(--font-satoshi), sans-serif;
    font-size: var(--fs-lg);
    color: var(--background-purple);

    @media (min-width: 1024px) {
      font-size: var(--fs-lg-m);
    }
  }

  &__divider {
    height: 1px;
    background: #ebe8f4;
    width: 100%;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__sectionTitle {
    // font-family: "Clash Display", sans-serif;
    font-size: var(--fs-sm);
    color: var(--background-purple);
  }

  &__text {
    font-family: var(--font-satoshi), sans-serif;

    line-height: 1.6;
    color: var(--background-purple);
  }

  &__dimensions {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    gap: 16px;
  }

  &__dimension {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__dimLabel {
    font-size: var(--fs-sm);
    color: #2a254b;
  }

  &__dimValue {
    font-family: var(--font-satoshi), sans-serif;

    font-size: var(--fs-sm);
    color: var(--background-purple);
  }

  &__dimDivider {
    width: 1px;
    height: 44px;
    background: #ebe8f4;
  }

  &__quantityBox {
    display: flex;
    justify-content: space-between;
    width: 130px;
    background: var(--color-text-white);
    padding: 12px 16px;
  }

  &__quantityBtn {
    font-family: var(--font-satoshi), sans-serif;

    font-size: var(--fs-md);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }

    &--disabled {
      color: #ebe8f4;
      cursor: not-allowed;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__quantityValue {
    font-family: var(--font-satoshi), sans-serif;

    font-size: var(--fs-sm);
    color: var(--background-purple);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 640px) {
      flex-direction: row;
    }
  }

  &__addBtn {
    background: var(--background-purple);
    color: white;
    padding: 16px 32px;
    font-family: var(--font-satoshi), sans-serif;

    transition: 0.2s;

    &:hover {
      background: var(--color-text-grey-three);
    }
    &:active {
      background: var(--color-text-grey-two);
    }
  }

  &__saveBtn {
    background: white;
    color: var(--background-purple);
    padding: 16px 32px;
    font-family: var(--font-satoshi), sans-serif;

    transition: 0.2s;

    &:hover {
      background: #f1f1f1;
    }
    &:active {
      background: #9a9a9a;
    }
  }
}
