/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@import "tailwindcss";

:root {
  --background-purple: #2a254b;
  --background-grey: #f9f9f9;
  --background-grey-two: #f0f0f0;

  --fs-sm: clamp(0.75rem, 1vw, 0.875rem); /* 14px */

  /*--fs-sm: 0.875rem;*/ /* 14px */
  --fs-md: clamp(0.875rem, 1vw, 1.12rem); /* 18px */

  /*--fs-md: 1.12rem;*/ /* 18px */

  --fs-lg: clamp(1.12rem, 1vw, 1.25rem); /* 20px */
  /*--fs-lg: 1.25rem;*/ /* 20px */
  --fs-lg-m: clamp(1.3rem, 2vw, 1.5rem); /* 24px */
  /* --fs-lg-m: 1.5rem; */ /* 24px */
  --fs-xl: clamp(1.5rem, 2vw, 2rem); /* 32px */
  /* --fs-xl: 2rem;  */ /* 32px */

  --color-text-black: #2a254b;
  --color-text-black-two: #22202e;
  --color-text-grey: #726e8d;
  --color-text-grey-two: #5b5676;
  --color-text-grey-three: #3f3f7d;

  /* --color-text-grey-three: #2a254b; */
  --color-text-white: #ffffff;
  --color-text-white-two: rgba(249, 249, 249, 1);

  --color-background-blink: rgba(255, 255, 255, 0.15);
}

body {
  color: var(--color-text-black);
  font-family: var(--font-clashDisplay), sans-serif;
}
button {
  cursor: pointer;
}
.innerAppContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.innerAppContainer__contentPage {
  flex: 1;
}

.noSelect,
img,
svg,
button,
a,
a * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}
