.ItemCollection {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  transition: background-color 0.3s ease;
  &:hover {
    // transform: scale(1.05);
    background: var(--color-text-grey);
    color: var(--color-text-white-two);
  }
  &:active {
    // transform: scale(1.1);

    background: var(--color-text-black);
    color: white;
  }

  .ItemCollection__imageWrapper {
    padding-bottom: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h4 {
    padding-bottom: 8px;
  }
  .ItemCollection__price {
    font-family: var(--font-satoshi), sans-serif;
  }
}
