$width: 550px;

.Header {
  .Header__top {
    display: flex;
    justify-content: space-between;
    padding: clamp(14px, 2vw, 20px) 28px;
    align-items: center;
    font-size: var(--fs-lg-m);
    color: var(--color-text-black-two);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .Header__searchBlock {
      display: flex;
      align-items: center;
      gap: 20px;
      .searchBlock__iconWrapper {
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;

        &:hover {
          // transform: scale(1.3);
          background: var(--color-text-grey);
          color: white;
        }
      }
      .hamburger {
        width: 12px;
        height: 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1100;
        background: none;
        border: none;
        span {
          position: absolute;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: black;
          border-radius: 2px;
          transition: all 0.3s ease;
          transform-origin: center;
        }
        span:nth-child(1) {
          top: 0px;
        }
        span:nth-child(2) {
          top: 5px; // середина блока
        }
        span:nth-child(3) {
          top: 10px;
        }
      }
      // открытое меню
      .hamburgerOpen span:nth-child(1) {
        top: 5px;
        transform: rotate(45deg);
      }

      .hamburgerOpen span:nth-child(2) {
        opacity: 0;
      }

      .hamburgerOpen span:nth-child(3) {
        top: 5px;
        transform: rotate(-45deg);
      }
      @media (max-width: $width) {
        order: 2;
      }
    }
    .Header__logo {
      @media (max-width: $width) {
        order: 1;
      }
    }
    .Header__userInfo {
      display: flex;
      gap: 16px;
      align-items: center;
    }
  }

  .Header__separator {
    width: 95%; /* ширина линии */
    margin: 0 auto; /* автоматически добавляет одинаковые отступы слева и справа */
    border: none; /* убираем стандартную рамку */
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* создаём линию */
    @media (max-width: $width) {
      display: none;
    }
  }
  .Header__categories {
    max-width: 675px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px;
    font-family: var(--font-satoshi), sans-serif;
    color: var(--color-text-grey);
    .Header__categoryItem {
      cursor: pointer;
    }

    @media (max-width: $width) {
      position: fixed;
      flex-direction: column;
      // overflow: auto;
      // gap: 0;
      // flex-wrap: nowrap;
      // top: 85px;
      // left: 0;
      width: 150px;
      height: 100%;
      // // background: var(--color-gradient);
      background-color: rgba(0, 0, 0, 0.8);
      color: var(--color-text-white);
      border-top-right-radius: 20px;
      // // background-color: #333;
      z-index: 1000;
      box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
      overflow-y: auto;
      li {
        // width: 100%;
        text-align: center;
      }
      // a {
      //   padding: 20px;
      //   min-width: calc(100% - 40px);
      // }
    }
  }
  .overlay {
    position: fixed;
    z-index: 999; // меньше чем navbar
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hidden {
    @media (max-width: $width) {
      transform: translateX(-110%);
    }
  }
}
