$widthMobile: 550px;

.Header {
  &__top {
    display: flex;
    justify-content: space-between;
    padding: clamp(10px, 1.3vw, 20px) 28px;
    align-items: center;
    font-size: var(--fs-lg-m);
    color: var(--color-text-black-two);
  }
  &__searchBlock {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: $widthMobile) {
    }
  }

  &__logo {
    @media (max-width: $widthMobile) {
    }
  }

  &__userInfo {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__hamburger {
    width: 12px;
    height: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1100;
    background: none;
    border: none;
    span {
      position: absolute;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: black;
      border-radius: 2px;
      transition: all 0.3s ease;
      transform-origin: center;
    }
    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2) {
      top: 5px;
    }
    span:nth-child(3) {
      top: 10px;
    }
  }

  &__hamburgerOpen span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }

  &__hamburgerOpen span:nth-child(2) {
    opacity: 0;
  }

  &__hamburgerOpen span:nth-child(3) {
    top: 5px;
    transform: rotate(-45deg);
  }

  &__userInfoHidden {
    display: none;
  }

  &__separator {
    width: 95%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    @media (max-width: $widthMobile) {
      display: none;
    }
  }
  &__categories {
    max-width: 675px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    font-family: var(--font-satoshi), sans-serif;
    color: var(--color-text-grey);

    @media (max-width: $widthMobile) {
      position: fixed;
      top: 0;
      flex-direction: column;
      justify-content: flex-start;

      width: 150px;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.8);
      color: var(--color-text-white);

      z-index: 1000;
      box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
      overflow-y: auto;
      li {
        text-align: center;
      }
    }
  }

  &__categoryItem {
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hidden {
    @media (max-width: $widthMobile) {
      transform: translateX(-110%);
    }
  }

  &__iconWrapper,
  &__categoryItem {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;

    transition: background-color 0.3s ease;
    &:hover {
      background: var(--color-text-grey);
      color: white;
    }
    &:active {
      background: var(--color-text-black);
      color: white;
    }
  }
}
