.SloganTwo {
  padding: clamp(10px, 4vw, 60px) 20px;
  display: flex;
  gap: 16px;
  max-width: 1280px;
  margin: 0 auto;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  &__ImageWrapper {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
