.features {
  &__container {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__containerReverse {
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__content {
    width: 50%;
    flex: 0 0 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__contentWrapper {
    max-width: 536px;
    height: 100%;
    margin: 0 auto;
    padding: clamp(20px, 4vw, 60px) 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-text-white);

    @media (max-width: 768px) {
      max-width: 100%;
      padding: 1.25rem;
    }
  }

  &__top {
    max-width: 100%;
  }

  &__title {
    font-family: var(--font-clashDisplay);
    font-size: var(--fs-xl);
    line-height: 1.25;
    font-weight: 400;
    color: var(--color-text-black);
  }

  &__description {
    margin-top: 1.5rem;
    font-family: var(--font-satoshi);
    font-size: var(--fs-md);
    line-height: 1.5;
    color: var(--color-text-grey);
  }

  &__actions {
    margin-top: auto;
    padding-top: 20px;
  }

  &__image {
    width: 50%;
    flex: 0 0 50%;

    @media (max-width: 768px) {
      width: 100%;
      max-height: 400px;
      overflow: hidden;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.19;
  }
}
