.features {
  .container {
    display: flex;
    // gap: 1.25rem; /* 20px equivalent to gap-5 */
    // justify-content: center;
    // align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .container__revers {
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .contentColumn {
    flex: 0 0 0.5fr;
    width: 50%; /* equivalent to w-6/12 */

    @media (max-width: 768px) {
      margin-left: 0;
      width: 100%;
    }

    .contentWrapper {
      max-width: 536px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      // justify-content: space-between;
      padding: clamp(20px, 4vw, 60px) 20px;
      // overflow: hidden;
      flex-direction: column;
      // max-height: 500px;
      // align-items: flex-start;
      // padding: 4rem 5rem; /* equivalent to px-20 py-16 */
      margin: 0 auto;
      width: 100%;
      background-color: var(--color-text-white);

      @media (max-width: 768px) {
        padding: 1.25rem; /* equivalent to px-5 */
        max-width: 100%;
      }

      .topContent {
        max-width: 100%;
        // width: 536px;

        .title {
          font-family: var(--font-clashDisplay);
          font-size: var(--fs-xl); /* 32px responsive */
          line-height: 1.25;
          color: var(--color-text-black);
          font-weight: 400;

          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
        .description {
          margin-top: 1.5rem; /* equivalent to mt-6 */
          font-family: var(--font-satoshi);
          font-size: var(--fs-md); /* 18px responsive */
          color: var(--color-text-grey);
          line-height: 1.5;

          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
      }

      .buttonWrapper {
        // margin-top: 12rem; /* equivalent to mt-48 */
        padding-top: 20px;
        margin-top: auto;

        @media (max-width: 768px) {
          // margin-top: 2.5rem; /* equivalent to mt-10 */
        }

        button {
          display: flex;
          // overflow: hidden;
          // gap: 0.625rem; /* equivalent to gap-2.5 */
          // align-items: flex-start;
          padding: 1rem 2rem; /* equivalent to px-8 py-4 */
          font-family: var(--font-satoshi);
          font-size: var(--fs-md);
          // background: var(--color-text-grey);
          background: var(--background-grey-two);
          color: var(--color-text-black);
          border: none;
          cursor: pointer;
          transition: background-color 0.2s ease;

          &:hover {
            background: var(--color-text-grey);
          }

          @media (max-width: 768px) {
            padding: 1rem 1.25rem; /* equivalent to px-5 */
          }
        }
      }
    }
  }

  .imageColumn {
    // margin-left: 1.25rem; /* equivalent to ml-5 */
    width: 50%; /* equivalent to w-6/12 */
    // flex: 1 1 auto;
    flex: 0 0 0.5fr;

    @media (max-width: 768px) {
      // margin-left: 0;
      width: 100%;
      max-height: 400px;
      overflow: hidden;
      // flex: 0 0 1fr;
    }

    .image {
      object-fit: cover;
      // flex-grow: 1;
      width: 100%;
      height: 100%;
      aspect-ratio: 1.19;

      @media (max-width: 768px) {
        // object-fit: none;
        // max-width: 100%;
      }
    }
  }
}
