.Footer {
  background: var(--color-text-black);
  color: var(--color-text-white);
  .Footer_top {
    .Footer_listItem {
      list-style: none;
    }
  }
  .Footer__separator {
    width: 95%; /* ширина линии */
    margin: 0 auto; /* автоматически добавляет одинаковые отступы слева и справа */
    border: none; /* убираем стандартную рамку */
    border-top: 1px solid #4e4d93; /* создаём линию */
  }
}
