.vacancies {
  background: var(--background-grey);
  padding: clamp(40px, 5vw, 80px) 20px;

  &__container {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-family: var(--font-clashDisplay);
    font-size: var(--fs-xl);
    font-weight: 400;
    color: var(--color-text-black);
    line-height: 1.25;
  }

  &__text {
    margin-top: 1.5rem;
    font-family: var(--font-satoshi);
    font-size: var(--fs-md);
    color: var(--color-text-grey);
  }

  &__subtext {
    margin: 0.75rem 0 1rem;
    font-family: var(--font-satoshi);
    font-size: var(--fs-sm);
    color: var(--color-text-grey-two);
  }
}
