.Invitation {
  background: url("/img/interior-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .Invitation__wrapperContainer {
    max-width: 494px;
    padding: clamp(30px, 6vw, 97px) 0 clamp(30px, 5vw, 86px);
    margin: 0 auto;
    color: var(--color-text-white);
    @media (max-width: 500px) {
      padding: 20px;
    }
    h2 {
      font-size: var(--fs-xl);
      padding-bottom: 12px;
      text-align: center;
    }
    .Invitation__text {
      font-family: var(--font-satoshi), sans-serif;
      font-size: var(--fs-lg);

      text-align: center;
      padding-bottom: 30px;
    }
    .Invitation__pros {
      display: flex;
      justify-content: space-between;
      .pros__item {
        display: flex;
        gap: 8px;
        align-items: center;
        padding-bottom: 40px;
        .pros__icon {
        }
        .pros__text {
        }
      }
    }
    .Invitation__input {
      display: flex;
      input {
        flex: 1 1 auto;
        width: 100%;
        padding: 17px 32px;
        background: white;
        color: var(--color-text-black);
        // @media (max-width: 500px) {
        //   padding: 10px;
        // }
      }
      button {
        flex: 0 0 auto;

        padding: 16px 32px;
        background: var(--color-text-black);
      }
    }
  }
}
