.SloganContent {
  background: #ffffff;
  padding: 48px 61px 48px 56px;
  width: 630px;
  //   height: 440px;
  color: var(--color-text-grey-two);
  font-family: var(--font-satoshi), sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  //   margin-left: auto;

  //   @media (max-width: 800px) {
  //     padding: 24px 30px;

  //     width: 400px;
  //     height: 300px;

  //   }
  @media (max-width: 500px) {
    // background: none;
    // padding: 0;
    width: 100%;

    // min-width: 100%;
  }
  h2 {
    font-size: var(--fs-xl);
    color: var(--color-text-black-two);
    line-height: 140%;
  }
  .SloganContent__text {
    font-size: var(--fs-md);
    flex: 1;
  }
  button {
    align-self: flex-start;
    padding: 16px 32px;
    // background: rgba(0, 0, 0, 0.15);

    background: var(--color-text-white-two);
  }
}
.Slogan {
  margin-left: auto;
  height: 440px;
  @media (max-width: 800px) {
    padding: 24px 30px;

    width: 400px;
    height: 300px;

    // width: 100%;
    // margin-left: 0;
  }
}
.SloganTwo {
  flex: 1;
  background: var(--color-text-black);
  color: white;
  @media (max-width: 850px) {
    padding: 24px 30px;

    width: 100%;

    // width: 100%;
    // margin-left: 0;
  }
  h2 {
    color: white;
  }
  button {
    background: rgba(0, 0, 0, 0.15);
  }
}
