.SloganContent {
  background: #ffffff;
  padding: 48px 61px 48px 56px;
  width: 630px;

  color: var(--color-text-grey-two);
  font-family: var(--font-satoshi), sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 500px) {
    width: 100%;
  }
  h2 {
    font-size: var(--fs-xl);
    color: var(--color-text-black-two);
    line-height: 140%;
  }
  &__text {
    font-size: var(--fs-md);
    flex: 1;
  }
}
.Slogan {
  margin-left: auto;
  height: 440px;
  @media (max-width: 800px) {
    padding: 24px 30px;

    max-width: 400px;
    height: 300px;
  }
  @media (max-width: 500px) {
    max-width: 100%;
    margin-left: 0;
  }
}
.SloganTwo {
  flex: 1;
  background: var(--color-text-black);
  color: white;
  @media (max-width: 850px) {
    padding: 24px 30px;

    width: 100%;
  }
  h2 {
    color: white;
  }
}
