.Collection {
  max-width: 1280px;
  margin: 0 auto;
  padding: clamp(0px, 1vw, 28px) 10px clamp(0px, 2vw, 40px);

  h3 {
    padding: clamp(15px, 5vw, 54px) 10px clamp(15px, 4vw, 29px) 0;
    font-size: var(--fs-xl);
  }

  .Collection__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 35px;
    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
    // @media (max-width: 500px) {
    //   grid-template-columns: 1fr;
    // }
    // .Collection__ItemCollection {
    //   padding: 10px;
    //   border-radius: 10px;
    //   cursor: pointer;

    //   transition: background-color 0.3s ease;
    //   &:hover {
    //     // transform: scale(1.05);
    //     background: var(--color-text-grey);
    //     color: var(--color-text-white-two);
    //   }
    //   &:active {
    //     // transform: scale(1.1);

    //     background: var(--color-text-black);
    //     color: white;
    //   }

    //   .Collection__imageWrapper {
    //     padding-bottom: 12px;

    //     img {
    //       width: 100%;
    //       height: 100%;
    //       object-fit: cover;
    //     }
    //   }
    //   h4 {
    //     padding-bottom: 8px;
    //   }
    //   .Collection__price {
    //     font-family: var(--font-satoshi), sans-serif;
    //   }
    // }
  }
}
