.Collection {
  max-width: 1280px;
  margin: 0 auto;
  padding: clamp(0px, 1vw, 28px) 20px clamp(0px, 2vw, 40px);

  .Collection__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 35px;
    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
    // @media (max-width: 500px) {
    //   grid-template-columns: 1fr;
    // }
    .ItemCollection {
      .ItemCollection__imageWrapper {
        padding-bottom: 12px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h4 {
        padding-bottom: 8px;
      }
      .ItemCollection__price {
        font-family: var(--font-satoshi), sans-serif;
      }
    }
  }
  button {
    font-family: var(--font-satoshi), sans-serif;
    display: block;
    width: 170px;
    margin: 0 auto;
    padding: 16px 32px;
    background: var(--color-text-white-two);
  }
}
